 #firstpart{
      background-color:white;border-bottom:1px solid gainsboro;padding-top:10px;padding-bottom:5px;
    }
    #firsthead{
      background:gainsboro;text-align:center;border-radius:5px;
    }
    #firstcontent{
      background:white;text-align:left;
    }
    #secondpart{
      background-color:white;border-bottom:1px solid gainsboro;padding-top:10px;padding-bottom:5px;
    }
    #secondhead{
      background:white;text-align:left;
    }
    #secondcontent{
      background:gainsboro;text-align:center;border-radius:5px;
    }
    #thirdpart{
      background-color:white;border-bottom:1px solid gainsboro;padding-top:10px;padding-bottom:5px;
    }
    #thirdhead{
    background:gainsboro;text-align:center;border-radius:5px;
    }
    #thirdcontent{
      background:white;text-align:left;
    }
    #fourthpart{
    background-color:white;border-bottom:1px solid gainsboro;padding-top:10px;padding-bottom:5px;
    }
    #fourthhead{
      background:white;text-align:left;
    }
     #fourthcontent{
    background:gainsboro;text-align:center;border-radius:5px;
    }
