.content{
    opacity:0.5;
}
.head{
    text-align:center;
}@media(max-width:767px)
{
    .work{
        width:100%;
        padding:5px;
    }
    .startup{
        width:100%;
         padding:5px;
    }
}
@media(min-width:768px)
{ 
    .work{
        width:50%;
        display:inline-block;
        padding-right:20px;
    }
    .startup{
        width:50%;
        display:inline-block;
        padding-left:20px;
    }
}
.total{
    padding:30px;
}
