 .first{
      height:50px;
    }
    .firstcol{
      background:#09885a;
    }
    .seccol{
      background:#5a57bb;
    }
    .second{
      height:50px;
      background:#ff9900;
    }
    .third{
      height:50px;
    }
    .thirdcol{
      background:#09885a;
    }
    .fourcol{
      background:#5a57bb;
    }
    .sect{
      height:75px;
      background:#4a86e8;
    }
     .sect2{
      height:75px;
       background:#5a57bb;
    }
