    .gmail{
      height:30px;
      width:30px;
    }.gmailf{
        height:60px;
        width:60px;
    }
    .getgmail{
      text-align:right;
      opacity:0.7;
    }
    .submain{
        margin-left:30px;
        opacity:0.7;
        margin-right:30px;
    }
    .forwork{
        text-align:left;
        opacity:0.7;
    }
    .landing{
        width:100%;
        text-align:center;
    
    }
    .textcenter{
        text-align:center;
    }.textcenter1{
        text-align:center;
        padding-top:40px;
        padding-bottom:40px;
    }
    .googleplay{
        height:40px;
        text-align:right;
        margin-right:-10px;
    }
    .applay{
        height:40px;
        
    }
    .experience{
        text-align:center;
        background-image:contain;
    }.second{
        text-align: center;
    }.experiences{
        
        width:100%;
    }
    .stayorgd{
        width:95%;
    }
    .stayorgm{
        width:95%;
    }
    .gmail2{
        text-align:center;
        padding-top:15px;
        padding-bottom:15px;
    }.foot{
        display:inline;
        margin-right:15px;
        margin-left:15px;
    }.foohead{
        padding-right:0px;
    }.footlast{
        opacity:0.7;
    }.footlastback{
        background:whitesmoke;
    }.lastsection{
        padding-top:40px;
        padding-bottom:40px;
        margin-top:30px;
    }