/* Write your CSS here */
 .main{
      background-image:url(../../assignments/assignment-8/assets/bg-image.jpg);
      background-repeat:no-repeat;
      background-size:contain;
      background-color:gainsboro;
    }
    .imge{
      background-image:url(../../R151457_MATTEDDULA_CHANDANA-min.jpg);
      height:200px;
      width:200px;
      background-size:contain;
      /*-webkit-clip-path:circle(50%);*/
      border-radius:50%;
      background-position:center;
      margin-top:170px;
      margin-left:380px;
      background-repeat:no-repeat;
      border:3px solid white;
      background-color:black;
    }
    .text{
      font-size:45px;
      text-align:center;
      color:white;
      font-family: bold;
    }
    .text1{font-size:35px;
      text-align:center;
      color:white;
      margin-top:-23px;
    }
    .lastsection{
      margin-top:21%;
      margin-left:40px;
      width:900px;
      height:50px;
      background:white;
      text-align:center;
      border-radius:20px;
    }
    .about{
      margin-left:40px;
      height:50px;
      display:inline-block;
      font-size:16px;
      padding-top:12px;
      text-align:center;
    }