 .margin{
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
  }
  p{
    padding:0;
  }.githublogo{
    background:white;border-radius:50%;-webkit-filter:invert(100%);
  }.githublogolg{
    background:white;border-radius:50%;-webkit-filter:invert(100%);
  }.signup{
    color:white;border:1px solid white;border-radius:5px;padding:5px;font-size:14px;margin-top:8px;
  }
   .header{
     background:black;
     color:white;
   }.mainhead{
     text-align:center;
     padding-top:30px;
     padding-bottom:30px;
     height:150px;
     width:100%;
   }.images{
     text-align:center;
     padding-top:10px;
     padding-bottom:10px;
   }.image{
     height:80px;width:80px;
   }.text{
     text-align:center;
     font-size:12px;
     padding-bottom:15px;
     padding-left:25px;
     padding-right:25px;
   }.cards{
     padding-top:5px;
     padding-bottom:5px;
   }.hash{
     background:AliceBlue;
     padding:15px;20px;15px;20px;
     text-align:center;
     display:inline;
   }.imageicon{
     height:50px;
     width:50px;
     text-align:center;
     display:inline;
   }.footer{
     font-size:12px;
     color:dodgerblue;
     font-weight:bold;
   }.topic{
     color:dodgerblue;
     background:AliceBlue;
     display:inline;
   }.liitem{
     display:inline;color:dodgerblue;background:AliceBlue;font-size:15px;
   }.popular{
     padding-left:30px;
   }.liitems{
     display:inline;font-size:15px;opacity:0.8;text-align:center;margin-left:15px;
   }
   .liitems1{
     display:inline;font-size:15px;text-align:center;margin-left:15px;border-bottom:2px solid blue;padding-bottom:16px;
   }.subhead{
       margin-top:15px;
       margin-bottom:15px;
   }.textalign{
       text-align:right;
       display:inline;
   }.navbartop{
       background:black;
   }
