 .font{
    line-height: 0.3;
    font-size: 12px;
    opacity: 0.7;
  }
  .nav{
    padding-right:2px;
  }
  .mediumh{
    font-size:15px;
    margin-right:10px;
  }
  .sign{
    display:inline-block;
    text-align:center;
    color:dodgerblue;
    border:1px solid dodgerblue;
    border-radius:3px;
  }
  .free{
    text-align:center;
    border:1px solid gainsboro;
    padding-right: 0;
    padding-left:0;
    margin-right:5px;
    margin-bottom: 20px;
  }
  .margin{
    margin-left:40px;
  }
  .pro{
    border:1px solid gainsboro;
    margin-right:2%;
    margin-left:2%;
  }
